<div class="jumbotron">
  <h6 class="display-6">Gather the personal details of the customer</h6>
  <hr class="my-4">
  <div class="row">
    <div class="col-sm">
      <p class="lead">- First Name (required)</p>
      <p class="lead">- Last Name (required)</p>
      <p class="lead">- Address (required)</p>
      <p class="lead">- SSN / Drivers License (required)</p>
    </div>
    <div class="col-sm">
      <p class="lead">- Issuance of State of SSN / Drivers License (required)</p>
      <p class="lead">- State of residence</p>
      <p class="lead">- Date of Birth</p>
      <p class="lead">- Phone number</p>
    </div>
  </div>
  <p class="lead" style="color:red">If a Consumer does not have
    an SSN or DL
    issued in the US, but does have an Individual Tax Identification Number (ITIN), this can be used to attempt
    authentication. The ITIN is a nine-digit number, like an SSN, and should be entered into the SSN field. The ITIN
    should be used as a last resort and in combination with the other authentication requirements, such as full name and
    address. </p>
  <p class="lead" style="color:red">If a Consumer does not have
    SSN/DLN/ITIN, a
    Tribal Identification Card is an acceptable Government Issued ID. (Do not enter this EDN# in the SSN or DLN fields
    in MBS. Add in the notes).</p>
</div>
