<div class="jumbotron">
  <h2 class="display-6">Send CC23 letter</h2>
  <hr class="my-4">
  <p>
    <button type="button" class="btn btn-primary" (click)="collapse.toggle()"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      MBS
    </button>
    <button type="button" class="btn btn-primary ms-2" (click)="isCollapsed = ! isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      Setting expectations
    </button>
  </p>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card">
      <div class="card-body">
        <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o Go to Reports Tab</p>
        <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o Under Multi Select, click CC23 Need
          additional information (Non authenticated user)</p>
        <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o Request Channel: Phone</p>
        <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o Date Received: Today</p>
        <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o Note Type: General Note</p>
        <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o Note: CC23 sent</p>
        <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o Click Order Letters</p>
      </div>
    </div>
  </div>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="!isCollapsed">
    <div class="card">
      <div class="card-body">
        <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o Inform consumer that we cannot process
          their request unless we receive the supporting document/s required.</p>
        <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o Advise to call us back once they sent
          the supporting document/s.</p>
        <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o The CC23 Need additional information
          letter will be sent by mail.</p>
        <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o Delivery timeframe is within 7-10
          business days.</p>
      </div>
    </div>
  </div>
