<br>
<div class="container">
  <input type="text" class="form-control" name="search" id="search" [(ngModel)]="search">
</div>
<br>
<!-- Authentication -->
<div class="container" *ngIf="search.toLowerCase().includes('auth')">
  <br>
  <p class="lead">Authentication</p>
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel title="Authenticating a Consumer">
      <ng-template ngbPanelContent>
        <authenticating-consumer></authenticating-consumer>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Manual Authentication">
      <ng-template ngbPanelContent>
        <!-- <authenticating-consumer></authenticating-consumer> -->
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Authenticating a Small Business (SBAC)">
      <ng-template ngbPanelContent>
        <!-- <authenticating-consumer></authenticating-consumer> -->
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

<div class="container" *ngIf="search.toLowerCase().includes('dispute')">
  <br>
  <!-- Dispute -->
  <p class="lead">Dispute</p>
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel title="Filing a Dispute (FCRA)">
      <ng-template ngbPanelContent>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Filing a Clarification (Accurint)">
      <ng-template ngbPanelContent>
        <!-- <authenticating-consumer></authenticating-consumer> -->
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Filing a Dispute for Expungement">
      <ng-template ngbPanelContent>
        <!-- <authenticating-consumer></authenticating-consumer> -->
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Filing a Dispute for Small Business (SBAC) Report">
      <ng-template ngbPanelContent>
        <!-- <authenticating-consumer></authenticating-consumer> -->
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

<div class="container" *ngIf="search.toLowerCase().includes('report')">
  <br>
  <!-- Report -->
  <p class="lead">Report</p>
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel title="Sending a Curious Consumer Package or Static Report">
      <ng-template ngbPanelContent>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Sending Static Report from 2.0">
      <ng-template ngbPanelContent>
        <!-- <authenticating-consumer></authenticating-consumer> -->
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Sending Static Report from Insurance Support (IHS) Tool">
      <ng-template ngbPanelContent>
        <!-- <authenticating-consumer></authenticating-consumer> -->
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Sending Manual Letter">
      <ng-template ngbPanelContent>
        <!-- <authenticating-consumer></authenticating-consumer> -->
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Sending Accurint or Contact and Locate Report">
      <ng-template ngbPanelContent>
        <!-- <authenticating-consumer></authenticating-consumer> -->
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Sending Small Business (SBAC) Report">
      <ng-template ngbPanelContent>
        <!-- <authenticating-consumer></authenticating-consumer> -->
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

<div class="container" *ngIf="search.toLowerCase().includes('security')">
  <!-- Security Freeze -->
  <br>
  <p class="lead">Security Freeze</p>
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel title="Add Security Freeze">
      <ng-template ngbPanelContent>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Lift Security Freeze">
      <ng-template ngbPanelContent>
        <!-- <authenticating-consumer></authenticating-consumer> -->
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Reset Security Freeze PIN">
      <ng-template ngbPanelContent>
        <!-- <authenticating-consumer></authenticating-consumer> -->
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

<div class="container" *ngIf="search.toLowerCase().includes('resources')">
  <!-- Resources -->
  <br>
  <p class="lead">Resources</p>
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel title="Supporting Documents Checklist">
      <ng-template ngbPanelContent>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Security Freeze Status Check">
      <ng-template ngbPanelContent>
        <!-- <authenticating-consumer></authenticating-consumer> -->
      </ng-template>
    </ngb-panel>
    <ngb-panel title="SBAC Authentication - Name, TIN, and Address">
      <ng-template ngbPanelContent>
        <!-- <authenticating-consumer></authenticating-consumer> -->
      </ng-template>
    </ngb-panel>
    <ngb-panel title="SBAC Authentication - Caller's Assocation">
      <ng-template ngbPanelContent>
        <!-- <authenticating-consumer></authenticating-consumer> -->
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Create RNW Ticket">
      <ng-template ngbPanelContent>
        <!-- <authenticating-consumer></authenticating-consumer> -->
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Derive SPII">
      <ng-template ngbPanelContent>
        <!-- <authenticating-consumer></authenticating-consumer> -->
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
