<div class="jumbotron">
  <h2 class="display-6">Ask for supporting documents</h2>
  <hr class="my-4">
  <!-- <p>-	In MBS, go to Applications > Consumer Disclosure 3.0</p> -->
  <p class="lead">-	Ask the consumer to upload a copy of their supporting documents to <a href="https://consumer.risk.lexisnexis.com/help" target="_blank" rel="noopener noreferrer">https://consumer.risk.lexisnexis.com/help</a></p>
  <p class="lead">-	Refer to *Supporting document checklist* and return to this procedure.</p>
</div>
