<div class="jumbotron">
  <h1 class="display-6">Perform RDP check</h1>
  <hr class="my-4">
  <p class="lead">- Using the search result that matches the consumer’s information, click New Contact</p>
  <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o Request Channel: Phone</p>
  <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o Masking Preference: Masked</p>
  
  <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o Click the consumer information that match the
    information provided by the consumer over the phone.
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;provided by the consumer</p>
  <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	Enter the details manually if there is any new information provided by the consumer.</p>
  
  <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o	Select Standard RDP verification then click RDP Check</p>
  
  <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Proceed to next step</a> -->

</div>
